body {
  margin: 0;
  font-size: 1em;
  background-color: whitesmoke;
  padding: 0;
  box-sizing: border-box;
}

.page {
    display:felx;
    flex-wrap: wrap;
}


.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.footer {
    width: 100%;
    background-color: white;
    position: absolute;
    margin-top: 40px;
}

.icon {
    padding: 0 15px;
}

#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gainsboro;
}


h1 {
  text-align: center;
  font-family: "Book Antiqua", "Palatino Linotype", "Palatino Serif";
  font-size: 4.6em;
}

h2 {
 font-family: "Book Antiqua", "Palatino Linotype", "Palatino Serif";
 font-size: 3em;
 text-align: center;
}

h3 {
 font-family: "Book Antiqua", "Palatino Linotype", "Palatino Serif";
 font-size: 2em;
 text-align: center;
}

p {
 font-family: "Book Antiqua", "Palatino Linotype", "Palatino Serif";
 font-size: 1.3em; 
}


.button {
  font-family: impact, charcola, sans-serif;
  text-align: center;
  text-decoration: none;
  background-color: gainsboro;
  padding: 15px;
  color: white;
  margin: auto;
  width: 30%;
  font-size: 1.3em;
}

div#contact {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  font-family: "Book Antiqua", "Palatino Linotype", "Palatino Serif";
  font-size: 1.5em;
}

textarea, input {
  padding: 12px 20px;
  background-color: gainsboro;
  resize: none;
  border: .7px solid white;
  cursor: pointer;
  margin: 1em auto;
  
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

.flex-item {
  margin: 25px;
  text-align: center;
  border: 1px solid black;
  max-width: 300px;
  
}

.flex-item:hover {
   opacity: .5;
}


.merch > a {
   text-align: center;
   font-family: "Book Antiqua", "Palatino Linotype", "Palatino Serif";
   font-size: 1em;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

a:link img {
    opacity: 1;
}

a:hover img {
    opacity: 1;
}

.button:hover {
    background-color: gray;
}

/* Mobile Styles */
@media only screen and (max-width: 630px) {

    
    h1 {
        font-size: 3.6em;
    }
    
    #navbar {
    text-align: center;
    font-weight: 100;
    display: flex;
    padding: 35px;
    margin: 0 auto;
    border-radius: 0;
    align-content: space-between;
    flex-direction: row;
   }
    
    #navbar, .changeBackground a {
    font-family: impact, charcola, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
    color: white;
    }
    
    .changeBackground {
    background-color: gainsboro;
    flex-basis: 200px;
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
    flex-grow: 1;
}

    .changeBackground:hover {
    background-color: gray;
}
    
    .content {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}
    
    textarea, input {
      width: 70%;
    }
    
    .bookImg{
        width: 100%;
        flex-direction: row;
    }
    
    .jackieImg {
        width: 320px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 630px) and (max-width: 980px) {

    
    #navbar {
    width: 60%;
    text-align: center;
    font-weight: 100;
    display: flex;
    padding: 55px;
    margin: 0 auto;
    border-radius: 5px;
    align-content: space-between;
    flex-direction: row;
    }
    
    #navbar, .changeBackground {
        list-style-type: none;
        padding-left: 0;
        text-align: center;
        margin: 0 auto 0 auto;
    }
    
    #navbar, .changeBackground a {
        font-family: impact, charcola, sans-serif;
        font-size: 1.1em;
        font-weight: 400;
        text-decoration: none;
        color: white;
        padding: .3em;
    }
    
    .changeBackground {
        background-color: gainsboro;
        flex-basis: 200px;
        padding: 15px;
        margin: 5px;
        border-radius: 3px;
        flex-grow: 1;
    }
    
    .changeBackground:hover {
        background-color: gray;
    }
    
    .content {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }
    
    textarea, input {
      width: 80%;
    }
    
    .bookImg {
        width: 360px;
    }
    
    .jackieImg {
        width: 490px;
    }

}

/*Desktop Styles */
@media only screen and (min-width: 980px) {

    
    #navbar {
/*    clear: both;*/
    width: 60%;
/*    margin-left: 32%;*/
    text-align: center;
    font-weight: 100;
    display: flex;
/*    flex-wrap: wrap;*/
    padding: 55px;
    margin: 0 auto;
    border-radius: 5px;
    align-content: space-between;
    flex-direction: row;
}

    #navbar, .changeBackground {
        list-style-type: none;
        padding-left: 0;
        margin: 0 auto 0 auto;
        text-align: center;
    }

    #navbar, .changeBackground a {
        font-family: impact, charcola, sans-serif;
        font-size: 1.1em;
        font-weight: 400;
        text-decoration: none;
        color: white;
    /*    display: block;*/
        padding: .3em;

    }

    .changeBackground {
        background-color: gainsboro;
        flex-basis: 200px;
        padding: 15px;
        margin: 5px;
        border-radius: 3px;
        flex-grow: 1;
    }

    .changeBackground:hover {
        background-color: gray;
    }

    .content {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
    .submit {
        margin: 0 5em;
    }

    
    .bookImg {
        width: 360px;
        
    }
    
    .jackieImg {
        width: 490px;
        height: 500px;
    }
    
    .section {
        flex-direction: row;
    }
}